body {
  border: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}
#root {
  background-color: #E69A8DFF;
  border: 0;
  margin: auto;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}